/* .todo_column {
    background: rgb(192, 191, 191);
}

.working_column {
    background: rgb(170, 168, 168);
}
.done_column {
    background: rgb(141, 140, 140);
} */

.login_page {
    display: block
    
}

.task_page {
    display: none;
}

#login_wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

#login_form {
    border-radius: 10px;
    background-color: #dbd5d5;
    padding: 20px;
    margin: 4px;
    grid-column: 6 / span 2;
    grid-row: 5 / span 2;
}

#greeting_wrapper {
    text-align: center;
}

#greeting {
    text-align: center;
    font-size: 25px;
}

#new_form_wrapper {
    grid-column: 6 / 7;
    grid-row: 1 / 2;
}

#edit_form_wrapper {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
}
/* Add a background color and some padding around the form */
.new_container {
    display: none;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 4px;
  }

.edit_container {
    display: none;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 4px;
}

body {
    background-image: url("https://images.pexels.com/photos/247478/pexels-photo-247478.jpeg?cs=srgb&dl=clouds-cloudy-conifers-247478.jpg&fm=jpg");
    margin: 0px;
}
.header_bar {
    background-color: rgba(211, 211, 211, 0.5);
    display: grid;
    grid-template: 100% / 14.25% 14.25% 14.25% 14.5% 14.25% 14.25% 14.25%;
    margin-top: 8px;
}

#title {
    text-align: center;
    grid-area: 1 / 4 / 2 / 5;
    color: ivory;
    font-size: 60px;
}

#user {
    text-align: right;
    grid-area: 1 / 6 / 2 / 7;
    color: ivory;
} 
#username_title{
    font-size: 40px;
    padding-top: 20px;
    /* box-align: left;
    grid-area: 1 / 6 / 2 / 7; */
    color: ivory;
}

#delete_user_form {
    text-align: left;
    grid-area: 1 / 7 / 2 / 8;
    padding-top: 26px;
    padding-left: 8px;
}

#show_new_task_form {
    grid-area: 1 / 1 / 2 / 2;
    padding-top: 26px;
    padding-left: 8px;
}

/* .column {
    float: left;
    width: 33%; 
    margin-left: 4px;
    margin-right: 4px;
  } */

.row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 4px;
}

#todo_wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
#working_wrapper {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
#done_wrapper {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
#todo_column {
    border-radius: 10px;
    margin: 4px;
}
#working_column {
    border-radius: 10px;
    margin: 4px;
}
#done_column {
    border-radius: 10px;
    margin: 4px;
}
  
/* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
} */

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

.column_title {
    text-align: center;
    margin-top: 0px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  

  /* Style the submit button with a specific background color etc */
  button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  button[type=submit]:hover {
    background-color: #45a049;
  }
  
  #login_button {
    width: 100%;
    border: 1px hidden;
}

#show_edit_task_form {
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    border: none;
}
#delete_task_button {
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    border: none;
}

  

  